@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap");
$primaryFont: "Titillium Web", sans-serif;
$bodycolor: rgb(229, 240, 219);
$buttonColor: #23bcbc;

body,
html {
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: $primaryFont;
}
.download-btn-hidden {
  display: none;

  background-color: #078b8b;
  padding: 10px 10px;
  border: 0;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.download-btn-hidden:hover {
  color: white;
  background-color: #000000;
}

.product-content-container:hover .download-btn-hidden {
  display: block;
}
.product-content-container:hover {
  background-color: #23bcbc;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 86px 0px;
}

.product-content-container:hover .product-content {
  display: none !important;
}

/* //header section// */

.home {
  background-color: $bodycolor;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px;

    h1 {
      font-size: 50px;
      font-weight: 400;
    }

    nav {
      display: flex;
      align-items: center;
      gap: px;

      nav,
      a,
      button {
        padding: 0px 20px;
        border: 0;
        border-radius: 5px;
        font-size: 20px;
        color: black;
      }

      button {
        background-color: $buttonColor;
      }
    }
  }

  /* //hero-section-start// */

  .hero-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px;

    .content-container {
      display: flex;
      flex-direction: column;
      gap: 10px;
      width: 50%;

      .sub-title,
      .description {
        font-size: 25px;
        font-weight: 200;
      }

      .title {
        font-size: 45px;
        font-weight: 400;
      }

      .hero-cta {
        padding: 0px 20px;
        width: 200px;
        background-color: $buttonColor;
        border: 0;
        border-radius: 5px;
        font-size: 25px;
      }
    }

    .image-container {
      width: 50%;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  /* //product section container// */

  .product-section {
    padding: 75px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .product-heading {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 8rem;
      font-weight: bold;
      color: transparent;
      background-image: url("https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
      background-size: 200%;
      /* Enlarged for smooth animation */
      background-position: 0 50%;
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: animate-background 5s infinite alternate linear;

      h2 {
        font-size: 60px;
        font-weight: 500;
        text-transform: uppercase;
      }
    }

    @keyframes animate-background {
      0% {
        background-position: 0 50%;
      }

      100% {
        background-position: 100% 50%;
      }
    }

    .product-grid {
      display: flex;
      /* display: grid; */
      /* grid-template-columns: 1fr 1fr 1fr 1fr; */
      gap: 20px;

      .product {
        border: 2px solid rgb(0, 0, 0);
        width: 100%;

        img {
          width: 100%;
          height: 220px;
          background-color: white;
        }

        .product-content {
          border: 2px solid #23bcbc;
          display: flex;
          flex-direction: column;
          padding: 20px;
          margin: 20px;
          gap: 20px;

          .productname {
            font-size: 22px;
            font-weight: 600;
          }

          .product-tag {
            background: rgb(0, 0, 0);
            color: white;
            padding: 2px 10px;
            width: fit-content;
          }

          .download-btn {
            background-color: $buttonColor;
            padding: 10px 10px;
            border: 0;
            font-size: 18px;
            font-weight: 600;
            cursor: pointer;
          }

          .download-btn:hover {
            color: white;
            background-color: #000000;
          }
        }
      }
    }
  }
}

.bottom {
  text-align: center;
  padding: 25px;
  color: white;
  background-color: rgb(49, 46, 46);
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
  }
  .hero-container {
    flex-direction: column;
  }
  .content-container {
    line-height: px;
  }
  .product-grid {
    flex-direction: column;
    width: 390px;
    margin-left: -71px;
  }
  .product {
    width: 100%;
  }
}

/* //shope-style// */

/* //header-section// */
.header-1 {
  background-image: linear-gradient(-180deg, #ebe79b04, #81958d),
    url(/image/pexels-juanpphotoandvideo-877971.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  h2 {
    font-size: 45px;
    font-weight: 400;
    color: white;
    margin: 50px;
    padding-left: 25px;
    padding-bottom: 100px;
  }

  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px;

    h1 {
      font-size: 45px;
      font-weight: 400;
      color: white;
    }

    nav {
      display: flex;
      align-items: center;
      gap: px;

      nav,
      a,
      button {
        padding: 0px 20px;
        border: 0;
        border-radius: 5px;
        font-size: 20px;
        color: rgb(255, 255, 255);
      }

      button {
        background-color: $buttonColor;
      }
    }
  }
}
/* //Product-section// */

.product-section-2 {
  padding: 0px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .product-heading-2 {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 8rem;
    font-weight: bold;
    color: transparent;
    background-image: url("https://images.unsplash.com/photo-1732535725600-f805d8b33c9c?q=80&w=1470&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: 200%;
    /* Enlarged for smooth animation */
    background-position: 0 50%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animate-background 5s infinite alternate linear;

    h2 {
      font-size: 60px;
      font-weight: 500;
      text-transform: uppercase;
    }
  }

  @keyframes animate-background {
    0% {
      background-position: 0 50%;
    }

    100% {
      background-position: 100% 50%;
    }
  }

  .product-grid-2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;

    .product-2 {
      border: 2px solid rgb(0, 0, 0);
      box-shadow: 0px 0px 3px 0px rgb(0, 0, 0);

      img {
        width: 100%;
        height: 220px;
        background-color: white;
      }

      .product-content-2 {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 30px;
        border: 2px solid rgb(71, 193, 226);
        margin: 20px;
        .productname {
          font-size: 22px;
          font-weight: 500;
        }

        .price {
          background: rgb(0, 0, 0);
          color: rgb(255, 255, 255);
          padding: 2px 20px;
          width: fit-content;
        }

        .description {
          font-weight: 100;
        }

        .buy-btn {
          background-color: $buttonColor;
          padding: 10px 10px;
          border: 0;
          font-size: 18px;
          font-weight: 600;
          cursor: pointer;
          width: 100%;
        }

        .buy-btn:hover {
          color: rgb(255, 255, 255);
          background-color: #000000;
        }
      }
    }
  }
}

/* //check-out-style// */

/* //header-section-start// */

body {
  padding: 0;
  margin: 0;
  background-color: #f2fbea;
  /* //font style// */
  font-family: "Montserrat", sans-serif;
  font-family: "Open Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;
  font-family: "Sofia Sans Condensed", sans-serif;
  font-family: "Titillium Web", sans-serif;
}

.header-2 {
  background-image: linear-gradient(-180deg, #ebe79b04, #81958d),
    url(./image/pexels-energepic-com-27411-2988232.jpg);
  background-position: to-upper-case($string: "");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;

  h2 {
    font-size: 45px;
    font-weight: 400;
    color: white;
    margin: 50px;
    padding-left: 25px;
    padding-bottom: 100px;
  }

  .header-top-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 75px;

    h1 {
      font-size: 45px;
      font-weight: 400;
      color: white;
    }

    nav {
      display: flex;
      align-items: center;
      gap: 0px;

      nav,
      a,
      button {
        padding: 0px 20px;
        border: 0;
        border-radius: 5px;
        font-size: 20px;
        color: rgb(255, 255, 255);
      }

      button {
        background-color: $buttonColor;
      }
    }
  }
}

/* //form-section// */

.container {
  margin: 50px;
  display: flex;
  gap: 20px;

  form {
    flex: 3;
    display: flex;
    flex-direction: column;
    border: 2px solid rgb(50, 29, 103);
    padding: 20px;

    h2 {
      font-size: 25px;
      font-weight: 370;
    }

    input {
      font-size: 15px;
      width: 95%;
      padding: 10px;
      border: 0;
      border-left: 2px solid black;
      border-bottom: 2px solid black;
    }

    button {
      padding: 5px 25px;
      margin-top: 20px;
      font-size: 20px;
      border-radius: 5px;
      background-color: $buttonColor;
      border: none;
      cursor: pointer;
    }
  }
}

footer {
  text-align: center;
  color: white;
  background-color: #312b4a;
  padding: 20px;
}

@media (max-width: 767px) {
  .header-2 {
    text-align: center;
  }
  .header-2,
  .header-top-2 {
    flex-direction: column;
  }
  form,
  input {
    width: 90%;
  }
}
